:root {
--color-primario: #ff6347;
--color-fondo: #f0f0f0;
--color-texto: #333;
--color-blanco: #fff;
--color-borde: #ddd;
--color-focus: #ff4500;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-fondo);
}

img {
    width: 300px;
}